@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <h1 class="display-4">Welcome</h1>

    <a asp-controller="Items" asp-action="Index" class="btn btn-success mt-3">View Products</a>


    <a asp-controller="Items" asp-action="Create" class="btn btn-success mt-3">Add Product</a>




</div>
